[ContrastEffect]
contrast=1.0
enabled=true
intensity=1.0
saturation=2.0

[Desktop Entry]
Name=Willow Light (SDDM)
Comment=A Windows 11 style demo.
X-KDE-PluginInfo-Author=doncsugar
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=willow-light-plasma
X-KDE-PluginInfo-Version=.1
X-KDE-PluginInfo-Website=
X-Plasma-API=5.0

[AdaptiveTransparency]
enabled=true
