[Desktop Entry]
Comment=Based on Breeze by the KDE VDG
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Name=Willow Light
Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=doncsugar
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=GPLv3+
X-KDE-PluginInfo-Name=org.github.doncsugar.willow-light
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-Plasma-MainScript=defaults

#present windows, show desktop, onze menu
X-KPackage-Dependencies=kns://plasmoids.knsrc/api.kde-look.org/1181039,kns://plasmoids.knsrc/api.kde-look.org/1100895,kns://plasmoids.knsrc/api.kde-look.org/1545530
