[Desktop Entry]
Comment=Based on Breeze by the KDE VDG
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Name=Willow Desktop \n(Light)
Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=doncsugar
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=GPLv3+
X-KDE-PluginInfo-Name=org.kde.willow-light.desktop
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-Plasma-MainScript=defaults

#willow present windows, show desktop, onze menu
#light colors, light icons, papirus icons, light plasma, yeyuwallpaper 1563780, lightdark wallpaper, light sddm
#latte layout not yet included
X-KPackage-Dependencies=kns://plasmoids.knsrc/api.kde-look.org/1719511,kns://plasmoids.knsrc/api.kde-look.org/1100895?linkid=2,kns://plasmoids.knsrc/api.kde-look.org/1545530,kns://colorschemes.knsrc/api.kde-look.org/1562235,kns://icons.knsrc/api.kde-look.org/1724815,kns://icons.knsrc/api.kde-look.org/1166289,kns://plasma-themes.knsrc/api.kde-look.org/1562918,kns://wallpaper.knsrc/api.kde-look.org/1563780,kns://wallpaper.knsrc/api.kde-look.org/1719497,kns://sddmtheme.knsrc/api.kde-look.org/1727270
