[Desktop Entry]
Name=Willow Dark Blur Alt
Comment=

X-KDE-PluginInfo-Author=doncsugar
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=willow-dark-blur-alt-aurorae
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true
